h1 {
  text-align: center;
}

.ttt {
  width: 156px;
  margin-left: auto;
  margin-right: auto;
}

.ttt div.win-message {
  display: none;
}

.ttt div.draw-message {
  display: none;
}

.ttt.winner-x div.win-message {
  display: block;
  background-color: green;
}

.ttt.winner-o div.win-message {
  display: block;
  background-color: red;
}

.ttt.draw div.draw-message {
  display: block;
}

.row {
  margin: 0;
  padding: 0;
}

.cell {
  display: inline-block;
  /* Why?? */
  vertical-align: top;

  width: 50px;
  height: 50px;

  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.cell.player-x {
  background-color: green;
}

.cell.player-o {
  background-color: red;
}

.cell:hover:not(.player-x):not(.player-o) {
  background-color: yellow;
}
