div.ttt-board {
}

div.row {
  margin: 0;
  padding: 0;
}

div.cell {
  display: inline-block;
  /* Why?? */
  vertical-align: top;

  width: 50px;
  height: 50px;

  border: 1px solid black;
  margin: 0;
  padding: 0;
}

div.cell.player-x {
  background-color: green;
}

div.cell.player-o {
  background-color: red;
}

div.cell:hover:not(.player-x):not(.player-o) {
  background-color: yellow;
}
