
/* reset */
html, body, figure, ul, li, span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: inherit;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

ul {
  list-style: none;
}

/* game */
.grid {
  margin: auto;
  width: 300px;
  cursor: pointer;
  font-size: 100px;
  font-family: sans-serif;
  background: #ccc;
  border: 5px solid #000;
}

.grid > li {
  position: relative;
  border: 5px solid #000;
  width: 90px;
  height: 90px;
  display: block;
  float: left;
}

.grid > li:hover {
  background: yellow;
}

.grid li:after{
  content: "";
  position: absolute;
  display: block;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.grid > li.x:after{
  content: 'X';
}

.grid > li.o:after{
  content: 'O';
}
