html, body, figure, ul, li, span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: inherit;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

ul {
  list-style: none;
}

.grid {
  margin: auto;
  width: 300px;
  cursor: pointer;
  font-size: 100px;
  font-family: sans-serif;
  
}

.grid > li {
  position: relative;
  border: 5px solid #000;
  width: 90px;
  height: 90px;
  display: block;
  float: left;
  background: #ccc;
}

.grid > li:hover {
  background: yellow;
}

.grid span {
  display: block;
}
